<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>srvUsuario</servlet-name>
        <servlet-class>Controlador.srvUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controlador.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportarExcelServlet</servlet-name>
        <servlet-class>Controlador.ExportarExcelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvExportarExce</servlet-name>
        <servlet-class>Controlador.srvExportarExce</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvExcelCategorias</servlet-name>
        <servlet-class>Controlador.srvExcelCategorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportarProductosServlet</servlet-name>
        <servlet-class>com.mycompany.mavenproject1.ExportarProductosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpoProdu</servlet-name>
        <servlet-class>com.mycompany.mavenproject1.ExpoProdu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCliDas</servlet-name>
        <servlet-class>Controlador.ServletCliDas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>Controlador.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCorreo</servlet-name>
        <servlet-class>Controlador.ServletCorreo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEmail</servlet-name>
        <servlet-class>Controlador.ServletEmail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>srvUsuario</servlet-name>
        <url-pattern>/srvUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportarExcelServlet</servlet-name>
        <url-pattern>/ExportarExcelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvExportarExce</servlet-name>
        <url-pattern>/srvExportarExce</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvExcelCategorias</servlet-name>
        <url-pattern>/srvExcelCategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportarProductosServlet</servlet-name>
        <url-pattern>/ExportarProductosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpoProdu</servlet-name>
        <url-pattern>/ExpoProdu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCliDas</servlet-name>
        <url-pattern>/ServletCliDas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCorreo</servlet-name>
        <url-pattern>/ServletCorreo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEmail</servlet-name>
        <url-pattern>/ServletEmail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
